.container {
	position: relative;
	overflow: hidden;
	line-height: 1;
	opacity: 0.5;
}

.text {
	position: absolute;
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: 0.3rem;
}

.textHidden {
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	visibility: hidden;
}
