.container {
    display: flex;
    align-items: center;
}

.linkWrap {
    position: relative;
    margin: 0.5rem;
}

.underline {
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition-timing-function: ease;
    transition-duration: 0.8s;
}

.linkWrap:hover .underline {
    width: 100%;
}

.link {
    color: inherit;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.link:visited {
    color: inherit;
}

.icon {
    width: 2.4rem;
    margin-right: 1rem;
}

@media (max-width: 769px) {
    .link {
        font-size: 4rem;
    }

    .icon {
        width: 4.4rem;
    }
}
