.container {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 1rem;
    font-weight: 500;
    font-size: 2rem;
    line-height: 200%;
    letter-spacing: 0.1em;
}

.icon {
    width: 24px;
}
