.block {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.blockContent {
    margin: auto;
    width: 70vw;
    /* height: 65vh; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 22rem;
    line-height: 0.9;
    font-weight: bold;
    letter-spacing: 1.5rem;
}

.titleOutline {
    font-size: 22rem;
    line-height: 0.9;
    font-weight: bold;
    letter-spacing: 1.5rem;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent;
}

.textWrapper {
    overflow: hidden;
    margin-bottom: 10vh;
}

.titleWrap {
    overflow: hidden;
}

.subtitle {
    font-size: 5rem;
    letter-spacing: 0.7rem;
    font-weight: 300;
}

.description {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    width: 50rem;
    font-weight: 300;
    text-transform: lowercase;
    align-self: flex-end;
}

/* .descriptionText{
    display: inline-block;
    margin: 0.1rem;
    padding-left: 0.4rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    white-space: nowrap;
} */

.scrollText {
    position: relative;
    bottom: -10vh;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    opacity: 0.5;
}