.block {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.blockContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
}

.title {
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 22rem;
    line-height: 0.9;
    letter-spacing: 1.5rem;
}

.titleOutline {
    width: 100%;
    color: transparent;
    font-weight: bold;
    font-size: 22rem;
    line-height: 0.9;
    letter-spacing: 1.5rem;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.textWrapper {
    overflow: hidden;
    margin-bottom: 10vh;
    transform-origin: center bottom;
}

.titleWrap {
    overflow: hidden;
    transform-origin: left center;
}

.subtitle {
    padding: 0 1rem;
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: 0.7rem;
    letter-spacing: inherit;
}

.description {
    align-self: flex-end;
    width: 50rem;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: lowercase;
}

.scrollText {
    position: relative;
    bottom: -10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    opacity: 0.5;
}
