.block {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.block-content {
  margin: auto;
  width: 70vw;
  height: 65vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.title {
  font-size: 10rem;
  line-height: 0.9;
  font-weight: bold;
  letter-spacing: 0.4rem;
}

.title_outline {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  color: transparent;
}

.subtitle {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  font-weight: 300;
}

.description {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  width: 570px;
  font-weight: 300;
  text-transform: lowercase;
  align-self: flex-end;
}