.title {
  position: absolute;
  left: 15rem;
}
.description {
	position: absolute;
	top: 20rem;
	right: 0;
	width: 110rem;
}

.image {
	position: absolute;
	bottom: 0;
	left: 0;
}

.number {
	position: absolute;
	right: 0;
	bottom: 0;
}
