.block {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.block__content {
  margin: auto;
  width: 80vw;
  height: 75vh;
}

.block__title {
  font-size: 10rem;
  letter-spacing: 0.1rem;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.2);
  color: transparent;
  font-weight: 900;

}

.block__description {
  width: 110rem;
  font-weight: 500;
  font-size: 6.5rem;
  text-transform: uppercase;
}

.block__number {
  font-weight: 900;
  font-size: 30rem;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: transparent;

  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.2);

}

.about {
  position: relative;
}

.about .block__title {
  position: absolute;
  top: 0;
  left: 15rem;
}

.about .block__description {
  position: absolute;
  top: 20rem;
  right: 0;
}

.about .block__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.about .block__image img{
    backdrop-filter: blur(4px);
  }

.about .block__number {
  position: absolute;
  bottom: 0;
  right: 0;

  line-height: 0.75;
  margin-right: -1rem;
}