.container {
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    margin: 12.5vw 10vw;
}

@media (max-width: 576px) {
    .content {
        margin: 12.5vw 2vw;
    }
}
