.container {
    position: relative;
    margin: 7rem;
}

.word {
    position: absolute;
    left: 50%;
    display: flex;
    font-weight: 900;
    font-size: 15rem;
    line-height: 6rem;
    pointer-events: none;
    user-select: none;
    transform: translate(-50%, 0);
}

.char {
    position: relative;
    min-width: 4rem;
    margin-left: -1rem;
    -webkit-text-stroke: 0.2rem #000;
}

.textHidden {
    font-weight: 900;
    font-size: 15rem;
    line-height: 6rem;
    visibility: hidden;
    transform: translate(-50%, 0);
}
