.content {
  position: relative;
  padding: 3rem;
  height: 100vh;
  box-sizing: border-box;
}

header,
footer {
  position: fixed;
  width: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

footer {
  bottom: 3rem;
}