.title {
    color: transparent;
    color: #000 !important;
    font-weight: 900;
    font-size: 7rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
}
