.title {
    display: inline-block;
    padding: 0 1rem;
    color: transparent;
    color: #000 !important;
    font-weight: 900;
    font-size: 7rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    -webkit-text-stroke: 0.15rem rgba(255, 255, 255, 1);
    backdrop-filter: blur(4px);
}
