.container {
    margin: 0 20vh 5vh;
}

.title {
    margin-bottom: 5rem;
}

.descriptionWrap {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-between;
}

.text {
    font-weight: bold;
    font-size: 4.5rem;
}

.description {
    position: relative;
    z-index: 1;
}

.image {
    display: inline-block;
    justify-self: end;
    filter: grayscale(100%);
    transform: translateY(-25%);
}

.blockNumber {
    justify-self: end;
    transform: translateY(-10%);
}
