.wrap {
    overflow: hidden;
    padding: 0 1rem;
}

.wrapBlurred {
    overflow: hidden;
}

.wrapBlurred div {
    display: inline-block;
    padding: 0 1rem;
    border-radius: var(--border-radius);
    backdrop-filter: blur(4px);
}
