.wrap {
    display: inline-block;
    overflow: hidden;
    border-radius: 0.8rem;
}

.container {
    display: inline-block;
    transform: scale(1.1);
    backdrop-filter: blur(4px);
}

.image {
    display: block;
}
