.container {
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 15rem;
}

.description {
    position: relative;
    z-index: 1;
    width: 95rem;
    font-weight: 400;
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    transform: translate(10%, 8%);
}

.image {
    transform: translateX(-10%);
}

.number {
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 0.75;
    transform: translate(20%, -30%);
}
