.wrap {
    margin: 0 10vw 22vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disclaimer {
    margin-top: -1.3rem;
    font-weight: 900;
    font-size: 13rem;
    line-height: 107%;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.disclaimerFull {
    display: none;
}

@media (max-width: 769px) {
    .wrap {
        margin-top: 10vw;
    }

    .disclaimer {
        display: none;
    }

    .disclaimerFull {
        display: block;
    }
}
