.container {
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    margin: 20rem 18rem 0;
}

.description {
    position: absolute;
    top: 0;
    right: 10rem;
    z-index: 1;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
}

.number {
    position: relative;
    float: right;
    line-height: 0.75;
    transform: translateY(-100%);
}
