.container {
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    margin: 20rem 18rem 0;
}

.description {
    position: absolute;
    top: 5rem;
    right: 5rem;
    z-index: 1;
}

.number {
    position: relative;
    float: right;
    line-height: 0.75;
    transform: translateY(-100%);
}

@media (max-width: 769px) {
    .title {
        margin-bottom: 10rem;
    }

    .description {
        top: 10rem;
        right: 0;
    }
}
