.block {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.block__content {
	width: 80vw;
	height: 75vh;
	margin: auto;
}

.block__description {
	width: 110rem;
	font-weight: 500;
	font-size: 6rem;
	text-transform: uppercase;
}

.block__number {
	color: transparent;
	font-weight: 900;
	font-size: 30rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	-webkit-text-stroke: 3px rgba(255, 255, 255, 0.2);
}

.about-me {
	position: relative;
}

.about-me .block__description {
	position: absolute;
	top: 15%;
	left: 0;
}

.about-me .block__image {
	position: absolute;
	right: 0;
	bottom: 0;
}

.about-me .block__image img {
	backdrop-filter: blur(4px);
}

.about-me .block__number {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-right: -1rem;
	line-height: 0.75;
}
