.wrap {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.container {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 25rem;
    border-top: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}

.footerItem {
    width: 100%;
}

.footerBlock {
    float: right;
    width: 100%;
    text-align: right;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 110%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.spliter {
    width: 1px;
    height: 100%;
    margin: 0 17rem;
    background-color: #fff;
}

.version {
    position: absolute;
    bottom: 0.2rem;
    left: 0.2rem;
    color: #ffffff80;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.16em;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    color: #ffffff80;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.16em;
}
