.wrap {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.container {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    padding-top: 10rem;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 25rem;
    border-top: 0.1rem solid #fff;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
}

.footerItem {
    width: 100%;
}

.footerBlock {
    float: right;
    width: 100%;
    text-align: right;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 6.5rem;
    line-height: 110%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.spliter {
    width: 0.1rem;
    height: 100%;
    margin: 0 17rem;
    background-color: #fff;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 0.2rem;
    color: #ffffff80;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.16em;
}

@media (max-width: 769px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    .title {
        font-size: 10rem;
    }

    .spliter {
        width: 100%;
        height: 1px;
    }

    .footerItem,
    .footerBlock {
        width: fit-content;
        margin: 10rem 0;
    }
}
