.notify {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 18px 7px rgb(0 0 0 / 50%);
  backdrop-filter: blur(8px);
}

.notifyBlock {
  text-align: left;
  padding: 24px;
}

.closeButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: inherit;
}
.closeButton:hover {
  background: rgba(200, 200, 200, 0.5);
}

.title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 43px;
  line-height: 121%;
  overflow: hidden;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 121%;
}