.notify {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 18px 7px rgb(0 0 0 / 50%);
  backdrop-filter: var(--backdrop-filter);
}

.notifyBlock {
  text-align: left;
  padding: 2.645rem;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2.645rem;
  right: 2.645rem;
  padding: 4px;
  border: none;
  background: inherit;
  border-radius: 0.44rem;
  transition-duration: 0.3s;
}

.closeButton:hover {
  background-color: #333;
}

.title {
  margin: 0 0 1.764rem 0;
  font-weight: 700;
  font-size: 4.74rem;
  line-height: 121%;
  overflow: hidden;
}

.text {
  margin: 0;
  margin: 0 2.75rem 0 0;
  font-weight: 400;
  font-size: 2.645rem;
  line-height: 121%;
}