.container {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 900;
    font-size: 20rem;
    line-height: 0.75;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3rem rgba(255, 255, 255, 0.2);
}

.wrap {
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem;
}

.number {
    display: inline-block;
}
