.description {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.35;
    letter-spacing: 1px;
    white-space: nowrap;
}

@media (max-width: 769px) {
    .description {
        font-size: 4rem;
    }
}
