/* stylelint-disable font-family-no-missing-generic-family-keyword */
.wrap {
    font-size: 10px;
}

.select {
    position: relative;
    width: 21em;
    height: 5em;
    color: #fff;
}

.label {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 0.5em;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
    background: var(--background);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    backdrop-filter: var(--backdrop-filter);
}

.label:hover {
    background-color: #333;
}

.label img {
    width: 2em;
    height: 2em;
    padding: 1em;
}

.labelText {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    margin-bottom: 0.15em;
    color: #fff;
    font-size: 1.7em;
    letter-spacing: 0.2em;
}

.arrow {
    position: relative;
    flex-shrink: 0;
    width: 5em;
    height: 5em;
}

.arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 0.2em;
    height: 70%;
    border-radius: 0.8em;
    background: white;
    transform: translateY(-50%);
}

.arrow::after {
    content: "\f04b";
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 1em;
    font-family: 'Font Awesome 5 Free';
    transition-duration: 0.5s;
    transform: translate(-50%, -50%) rotate(-30deg);

    /* ;
    */

    transform-origin: 35% 50%;
}

.active .arrow::after {
    transform: translate(-50%, -50%) rotate(150deg);
}

.options {
    position: absolute;
    top: 5em;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
    background: var(--background);
    opacity: 0;
    backdrop-filter: var(--backdrop-filter);
}

.optionsItem {
    position: absolute;
    top: -5em;
    box-sizing: border-box;
    width: 100%;
    height: 4.9em;
    padding-left: 4.5em;
    border-radius: calc(var(--border-radius) - 4px);
    line-height: 4.9em;
    letter-spacing: 0.2em;
}

.optionsItem span {
    font-size: 1.7em;
}

.optionsItem:last-child::after {
    display: none;
}

.optionsItem:hover {
    background: var(--background-hover);
}

.optionsItem.active {
    background: var(--background-active);
    color: #000;
}

@media (max-width: 769px) {
    .wrap {
        font-size: 8px;
    }
}
