.menu__item {
	position: relative;
	letter-spacing: 0;
}

.menu__text text {
	transform-box: view-box;
}

.hidden {
	position: absolute;
	z-index: -1;
	opacity: 0;
	pointer-events: none;
}

.text-hidden {
	/* opacity: 0; */
}

.menu__text {
	/* position: absolute;
	top: 0;
	left: 0; */
	font-size: 15px;
	pointer-events: none;
	fill: #fff;
}

.menu__text text:nth-child(2) {
	opacity: 0;
}
