.title {
    margin-bottom: 3rem;
    margin-left: 15rem;
}

.blockNumber {
    float: right;
    transform: translateY(-25%);
}

.textWrap {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    padding: 3rem 0 2rem;
}

.project {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
}

.projectUnderline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.5;
}

.projectDate {
    flex-shrink: 0;
    width: 27rem;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.1em;
    opacity: 0.5;
}

.projectDescription {
    flex-grow: 1;
    height: 100%;
}

.projectDescriptionTitle {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.1em;
}

.projectDescriptionText {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.1em;
}

.projectLocation {
    flex-grow: 0;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    opacity: 0.5;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #333;
}
