.container {
    position: relative;
    top: -10rem;
    color: transparent;
    font-weight: bold;
    font-size: 10rem;
    line-height: 1;
    white-space: nowrap;
    opacity: 0.5;
    -webkit-text-stroke: 0.2rem rgb(255, 255, 255);
}
