.container {
    position: relative;
    top: -10rem;
    color: black;
    font-weight: bold;
    font-size: 10rem;
    line-height: 1;
    white-space: nowrap;
    -webkit-text-stroke: 0.1rem #fff;
}
