.title {
    margin-left: 15rem;
}

.number {
    margin-left: auto;
}

.bullets {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 3rem;
}

.text {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 3rem;
    opacity: 0.5;
}

.bulletsItem {
    margin-right: 3.5rem;
    margin-bottom: 4rem;
    padding: 0 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    backdrop-filter: blur(5.43403px);
}

.footer {
    display: flex;
    justify-content: space-between;
}

.textCircle {
    align-self: flex-end;
    margin: 0 auto;
}
