* {
	/* box-sizing: border-box; */
	outline: none;
}

*,
*:hover {
	cursor: none !important;
}

::selection {
	background: #727272cc;
}

html {
	font-size: 10px;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
	background: #000;
	color: rgb(255, 255, 255);
	font-family: "Montserrat", sans-serif;
	scrollbar-width: thin;
	scrollbar-color: #808080 #000;
}

#root:focus {
	outline: none;
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	background: #000;
}

::-webkit-scrollbar-thumb {
	background-color: #808080;
}

/* SCROLL BAR */
